user {{ nginx_user }};
worker_processes  {{ worker_processes }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections {{ worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

#    include /etc/nginx/conf.d/*.conf;

    upstream {{ upstream_name }} {
	server {{ hostvars['app_host']['web_ip_1'] }}:5000;
        server {{ hostvars['app_host']['web_ip_2']['stdout'] }}:5000;
        server {{ hostvars['app_host']['web_ip_3']['stdout'] }}:5000;
    }

    server {
        listen {{ listen_port }};
        location / {
	    proxy_pass http://{{ upstream_name }};
        }
    }
}
